/**** 
global 
****/
::selection{
    background-color:rgba(118, 127, 136, 0.6);
}

html{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    box-sizing:border-box;
}

body{
    line-height:1.5;
}

.container{
    margin:0 auto;
    max-width:1200px;
    padding:1em;
}

*,
*:after,
*:before{
    box-sizing:inherit;
    line-height:inherit;
}

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

img{
    width:100%;
}

/* LoVe HAte - Link, Visisted, Hover/Focus, Active */

a,
a:link,
a:visited{
    color:inherit;
}

a:hover,
a:focus{
    color:#00add8;
}

p{
    margin:1em 0;
}

h1,
h2,
h3,
h4,
h5{
    font-weight:700;
    margin: 1em 0 0.5em;
}

h1{
    font-size:5.063rem;
}

h2{
    font-size:3.375rem;
}

h3{
    font-size:2.25rem;
}

h4{
    font-size:1.5rem;
}

h5{
    font-size:1rem;
}

.mobilelogo{
    max-width:150px;
}

.desktoplogo{
    display:none;
}

.banner{
    height:600px;
    background: grey url(../images/smog-mobile.jpg);
    background-size:cover;
}

.banner h1{
    margin:0;
    padding-top:250px;
    text-align:center;
    text-transform:uppercase;
}

/*nav*/
.navlist a{
    max-width:100%;
}

.navlist li{
    border-bottom:1px solid grey;
    text-align:center;
}

.navlist a,
.navlist a:link,
.navlist a:visited{
    display:block;
    padding:1em 0;
    text-decoration:none;
}

.navlist li:hover,
.navlist li:focus,
.navlist .current{
    background-color:#00add8;
    color:inherit;
}

.navlist a:hover,
.navlist a:focus{
    color:black;
    background-color:#00add8;
}

/**** 
mobile style
****/

.btn{
    text-decoration:none;
    display:inline-block;
    padding:20px;
    border:1px solid grey;
    border-radius:6px;
}

.btn:hover,
.btn:focus{
    background-color:#00add8;
    color:white;
    padding:26px;
    transition:0.15s;
}

/*action section*/
.actionslist{
    display:flex;
    flex-flow:row wrap;
}

.actionslist li{
    max-width:50%;
    padding:1em;
    font-size:1.5rem;
    text-align:center;
}

.btn:active{
    background-color:#0d4b5b;
}

.sitefooter{
    margin-top:20px;
    padding:20px 0;
    border-top:2px solid #00add8;
}

.copyright{
    text-align:right;
}

/****
 climate page styles
****/

.card{
    border:2px solid #00add8;
    border-radius:6px;
    margin-bottom:1em;
}

.card .info{
    padding:1em;
}

.card h3{
    margin-top:0;
}

.news{
    border-top:2px solid #00add8;
    margin-top:4em;
}

/****
 desktop style
****/

@media screen and (min-width:600px){
    html{
        font-size:16px;
    }

    .mobilelogo{
        display:none;
    }

    .desktoplogo{
        display:inline-block;
        max-width:300px;
    }

    .banner{
        background-image: url(../images/smog-desktop.jpg);
    }

    .banner h1{
        color:white;
    }

/* nav */
    .navlist{
        display:flex;
    }

    .navlist li{
        flex:1;
        border:none;
        border-right:1px solid grey;
    }

    .navlist li:last-child{
        border-right:none;
    }

/* mobile app section */

    .app img{
        width:40%;
        float:left;
        margin-right:1em;
    }

    .app .btn{
        float:right;
    }

    
}

@media screen and (min-width:800px){
    .actionslist li{
        max-width:20%;
    }

    /****
    climate page style
    ****/
    .cards{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        column-gap:1em;
    }

    /****
    news section
    ****/
    .news{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows:repeat(3, auto);
        grid-template-areas:
        "head head"
        "left right1"
        "left right2";
        gap:1em;
    }

    .news h2{
        grid-area:head;
}

    .news .left{
        grid-area:left;
    }

    .news .right{
        display:grid;
        grid-template-columns:1fr 1fr;
        column-gap:1em;
    }

    .new .right img{
        grid-row: 1 / 3;
    }

    .news .right h3{
        font-size:1.5rem;
        margin-top:0;
    }

    .news .left h3{
        margin-top:0;
    }
/* 
    .news .right p{
        grid-column-start:2;
    } */
}


