/*fix needed: margin, title, and image need to be spaced properly under certain screen size*/
@media screen (min-width: 1000px){
.lonestarfishtitle{
font-size:0.5rem;
}
}

body{
    margin-left:250px;
    margin-right:250px;
    background-color:#aad4cf;
}

.headerimagetext{
    position:relative;
    text-align:center;
    background: cadetblue url(../images/bread.jpg) no-repeat center;
}



.lonestarfishtitle{
    font-family:Arial, Helvetica, sans-serif;
    font-size:5vw;
    position:absolute;
    color:white;
    top:58%;
    left:50%;
    transform:translate(-50%, 0%);
}




.headerimage{
    display:flex;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
    justify-content:center;
    width:100%;
}

.h2image{
    height:300px;
}
