/****
general styles
****/

.container{
    background-color:white;
    font-family: 'Open Sans', sans-serif;
    margin:0 auto;
}

header{
    background-color:#222;
    text-align:center;
}

.width{
    width:100%;
    margin:0 auto;
}

.maxwidth{
    max-width:1200px;
    margin:0 auto;
}

.fa-magnifying-glass{
    color:#c78c06;
}

.fa-play{
    color:black;
}

/****
mobile styles
****/

.home{
    background-color:#c78c06;
    color:#222;
    padding-bottom:10px;
}

.home1{
    color:#222;
}

ul{
    padding:10px;
}

li a{
    text-decoration:none;
    color:#c78c06;
    padding-bottom:10px;
    display:flex;
    flex-direction:column;
    padding-top:20px;
}

li img{
    width:100px;
}

li a:hover,
li a:focus{
    color:#222;
    background-color: #c78c06;
}

li form{
    display:flex;
}

li input{
    flex-basis:96%;
    padding:5px;
}

li button{
    background-color:#222;
    border-color:#c78c06;
    cursor:pointer;
    background:none;
}

.mainlogo{
    background-color:#c78c06;
    display:flex;
}

/* below: had problems with anchor overlapping paragraph, so set it to flexbox to fix*/

.banner{
    background-image: url("../images/main-banner.jpg");
    background-position:center;
    background-size:cover;
    height:500px;
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.bannertext{
    background-color:rgba(0, 0, 0, 0.5);
    color:white;
    display:flex;
    flex-direction:column;
    text-align:left;
    justify-content:center;
    padding:10px;
}

h1{
    font-size:3.5em;
    font-weight:700;
    line-height:1.5em;
    margin-bottom:0.3em;
}

.bannertext p{
    line-height:1.5em;
    margin-bottom:1em;
    font-size:0.8em;
}

.connectbutton{
    background-color:#c78c06;
    padding:28px;
    width:fit-content;
    color:black;
    cursor:pointer;
    text-decoration:none;
}

.connectbutton:active{
    background-color:#8d670d;
}

/* fix - css background position property .hero-image*/

.about{
    width:100%;
    box-sizing:border-box;
    justify-content:center;
    margin:0 auto;
    margin-bottom:20px;
}

.abouttext{
    background-color:#ffe6ac;
    max-width:1200px;
    justify-content:center;
    margin:0 auto;
}

.abouttext h2{
    padding:10px;
    font-weight:700;
    font-size:2.5em;
}

.abouttext p{
    padding:10px;
    font-size:0.8em;
    line-height:1.5;
}

.about img{
    width:100%;
    padding:10px;
    box-sizing:border-box;
}

.cardsandheading h2{
    font-size:2.5em;
    font-weight:700;
    padding:20px 10px;
}

.card{
    background-color:#ffe6ac;
    margin-bottom:10px;
}

.card img{
    width:100%;
}

.card div{
    padding:10px;
    display:flex;
    flex-direction:column;
}

.card h3{
    font-size:1.5em;
    font-weight:700;
    padding:20px 0;
}

.card p{
    font-size:0.8em;
    padding-bottom:10px;
    line-height:1.5;
}

.card a{
    padding:28px;
    background-color:#222;
    color:white;
    width:fit-content;
    cursor:pointer;
}

.card a:active{
    background-color:black;
}

.card .fa-play{
    color:white;
}

.vision{
    background-image: url("../images/vision.jpg");
    background-size:cover;
    background-position:center;
    height:fit-content;
    width:100%;
}

.vision div{
    display:flex;
    flex-direction:column;
    color:white;
    padding:10px;
    margin-bottom:20px;
}

.vision h3{
    font-size:1.5em;
    font-weight:700;
    padding:20px 0;
}

.vision p{
    font-size:0.8em;
    padding-bottom:10px;
    line-height:1.5;
}

.vision a{
    padding:28px;
    background-color:#222222b1;
    border:1px solid #c78c06;
    color:white;
    width:fit-content;
    cursor:pointer;
}

.vision a:active{
    background-color:#222;
}

.vision .fa-play{
    color:white;
}

.team{
    margin-bottom:20px;
}

.team h3{
    font-size:2.5em;
    font-weight:700;
    padding:20px 10px;
}

.team div{
    background-color:#ffe6ac;
}
.team h4,
.team h5,
.team p{
    line-height:1.5;
    padding:0 10px;
}

.team h4{
    font-size:1.6em;
    font-weight:700;
    padding-top:10px;
}

.team h5{
    font-weight:700;
    padding-bottom:5px;
}

.team p{
    font-size:0.8em;
    padding-top:10px;
    padding-bottom:20px;
}

hr{
    border: 1px solid #c78c06;
    margin:0 10px;
}

.team img{
    width:100%;
}

.contact{
    padding:10px;
}

.contact h2{
    font-size:2.5em;
    font-weight:700;
    padding:26px 0;
}

.contact h3{
    font-size:2em;
    font-weight:700;
    margin-bottom:20px;
}

.contact label{
    font-size:0.8em;
}

.contact input{
    margin:6px 0;
    width:96%;
}

.contact textarea{
    margin-top:6px;
    width:96%;
}

.contact button{
    background-color:#222;
    color:#c78c06;
    padding:4px;
    font-size:1em;
    margin:20px 0;
}

.contact table{
    width:100%;
}

iframe{
    width:50%;
    height:50%;
}

footer{
    background-color:#222;
}

/****
width queries
****/

@media screen and (min-width: 760px){

    header ul{
        display:flex;
    }

    .abouttext{
        display:flex;
    }

    .abouttext img{
        width:50%;
    }

    .cardsandheading{
        display:grid;
    }

    .team{
        display:flex;
        flex-wrap:wrap;
    }

    .team h3{
        flex-basis:100%;
    }

    .team div:nth-child(2){
        flex-basis:50%;
    }

    .team div:nth-child(3){
        flex-basis:50%;
    }

    .team div:nth-child(4){
        flex-basis:50%;
        order:1;
    }

    .team div:nth-child(5){
        flex-basis:50%;
    }
}