/****
general styles
****/

.container{
    background-color:white;
    font-family: 'Open Sans', sans-serif;
    max-width:1200px;
}

header{
    background-color:#222;
    text-align:center;
}

.width{
    width:100%
}

.maxwidth{
    max-width:1200px;
    margin: 0 auto;
}

.fa-magnifying-glass{
    color:#c78c06;
}

.fa-play{
    color:black;
}

/****
mobile styles
****/

.home{
    background-color:#c78c06;
    color:#222;
    padding-bottom:10px;
}

.home1{
    color:#222;
}

ul{
    padding:10px;
}

li{
    padding-top:20px;
}

li a{
    text-decoration:none;
    color:#c78c06;
    padding-bottom:10px;
}


li form{
    display:flex;
}

li input{
    flex-basis:96%;
    padding:5px;
}

li button{
    background-color:#222;
    border-color:#c78c06;
    cursor:pointer;
    background:none;
}

.mainlogo{
    background-color:#c78c06;
    display:flex;
}

.banner{
    background-image: url("/dela00331.github.io/final/images/main-banner.jpg");
    background-position:center;
    background-size:cover;
    height:500px;
}

/* fix - css background position property .hero-image*/

.about{
    width:100%;
    box-sizing:border-box;
    justify-content:center;
    margin:0 auto;
}

.abouttext{
    background-color:#ffe6ac;
    max-width:1200px;
    justify-content:center;
    margin:0 auto;
}

.about img{
    width:100%;
    padding:10px;
    box-sizing:border-box;
}

.cardsandtext{
    max-width:1200px;

}

.vision{
    background-image: url("../final/images/vision.jpg");
    background-size:cover;
    background-position:center;
    height:300px;
    width:100%;
}

.team{
    max-width:1200px;
    margin:0 auto;
}

.team div{
    background-color:#ffe6ac;
}

.team img{
    width:100%;
}

iframe{
    width:50%;
    height:50%;
}

footer{
    background-color:#222;
}

/****
width queries
****/

@media screen and (min-width: 760px){

    header ul{
        display:flex;
    }

    .abouttext{
        display:flex;
    }

    .abouttext img{
        width:50%;
    }

    .cardsandheading{
        display:grid;
    }

    .team{
        display:flex;
        flex-wrap:wrap;
    }

    .team h3{
        flex-basis:100%;
    }

    .team div:nth-child(2){
        flex-basis:50%;
    }

    .team div:nth-child(3){
        flex-basis:50%;
    }

    .team div:nth-child(4){
        flex-basis:50%;
        order:1;
    }

    .team div:nth-child(5){
        flex-basis:50%;
    }
}